/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.copilot
/.local
/.npm
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/beepboop
/mcbot
/obsidian-livesync
/speedtest-tracker
/uptime-kuma